{% extends 'base.html.twig' %}

{% block title %}Connectez-vous !{% endblock %}

{% block body %}
    <div class="auth-container">
        <form method="post" class="auth-form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">me déconnecter</a>
                </div>
            {% endif %}

            <h1 class="h1">Connectez-vous</h1>

            <div class="form-group">
                <label>
                    <input type="email" value="{{ last_username }}" name="email" placeholder="Adresse mail" required autofocus />
                </label>
                <label for="inputPassword">
                    <input type="password" name="password" placeholder="Mot de passe" required />
                </label>
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <div class="auth-actions">
                    <label class="form-check">
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>

                    <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>

                </div>
            </div>

            <div class="auth-actions">
                <button class="btn-primary" type="submit">
                    Se connecter
                </button>

                <a href="{{ path('app_register') }}">
                    Créer un compte
                </a>
            </div>

        </form>
        <div class="auth-drawing">
            <img src="{{ asset('img/svgs/auth.svg') }}" alt="4 personnes qui trinquent" />
        </div>
    </div>

{% endblock %}
