<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Team Founder !</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet"> 
        {{ encore_entry_link_tags('soon') }}
    </head>
    <body>
        <div class="fullscreen">
            <div class="fullscreen__header">
                <a href="{{ path('app_home') }}" title="Page d'accueil de Team-Founder">
                    <img src="{{ asset('images/white-icon.svg') }}" alt="Icône de Team-Founder sur fond blanc" />
                    <div>
                        Team Founder
                    </div>
                </a>
            </div>

            <div class="fullscreen__hero">
                <h1>Team Founder est en cours de développement !</h1>

                <p class="question">Tu veux être le premier à découvrir Team Founder à sa sortie ?</p>

                {{ form_start(form, {'attr': {'class': 'subscription_form'}}) }}
                    {{ form_widget(form.email) }}
                    <input type="submit" class="btn" value="Notifiez-moi !" />
                {{ form_end(form) }}

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <p class="form_flash">{{ message|raw }}</p>
                    {% endfor %}
                {% endfor %}

                <p class="discord">
                    <a href="https://discord.gg/r3nPzy2">Venez discuter avec nous sur Discord &rarr;</a>
                </p>
            </div>

            <div class="fullscreen__footer"></div>
        </div>
    </body>
</html>
